:root {
    --blue:#002e5f;
    --grey: #696a6f;
    --teal: #047E8B;
    --magenta: #ea088b;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #image{
    height: 400px;
    position: relative;
  }
  h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 10%
  }
  h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
  }
  p {
    color: red;
  }


  #content {
    width: 80%;
    margin: auto;
  }

  *{
    padding:0;
    margin:0;
  }

  #nav {
    width: 100%;
    background-color: white;
    text-align: center;
  }
  #nav2 {
    height: 50px;
    line-height: 50px;
    background-color: var(--blue);
    color: white;
  }
